<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>All Students</title>
</head>
<body>
<h1 align="center">List of Students</h1>
<h4 align="center">
    <button type="button" class="btn btn-info"><a th:href="@{/hello}">Add Info</a></button>
    <button type="button" class="btn btn-warning"><a th:href="@{/hello2}">Update Info</a></button>
    <button type="button" class="btn btn-danger"><a th:href="@{/hello1}">Delete Info</a></button>

</h4>
<table class="table table-bordered border-primary">

    <thead>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${allStudents}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.department}"></td>
        <td th:text="${person.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>